<!DOCTYPE html>
<html ng-app="user">
  <head>
    <title>Simple AngularJS Test</title>
    <link rel="stylesheet" href="res/css/foundation.min.css" type="text/css" />
    <link rel="stylesheet" href="res/css/main.css" type="text/css" />
    <link rel="stylesheet" href="res/css/ng-animation.css" type="text/css" />

    <script type="text/javascript" src="res/js/angular.min.js"></script>
    <script type="text/javascript" src="res/js/angular-route.js"></script>
    <script type="text/javascript" src="res/js/angular-resource.js"></script>
    <script type="text/javascript" src="res/js/angular-animate.js"></script>

    <meta charset="utf-8" />

  </head>

  <body>

    <div ng-controller="UserCtrl as user" class="row">
      <h1>Simple AngularJS Test</h1>

      <div class="panel radius columns large-6">
        <h2>Input</h2>

        <form data-abide ng-submit="user.userNameSubmit()" method="" id="" action="">
          <label for="user-name-input">Your name</label>
          <input ng-model="user.userName" required pattern="[a-zA-Z0-9]+" type="text" name="user-name-input" placeholder="John Doe"/>
          <input type="submit" class="button small" name="" value="Set" />
        </form>
      </div>
      <div class="columns large-6">
        <h2>Output</h2>
        <div data-alert ng-cloak ng-show="user.userHasSubmitted" ng-bind-template="{{user.successMessage}}" class="alert-box {{user.messageType}} radius">
          <!-- <a href="#" class="close">&times;</a> -->
        </div>
        <p ng-cloak>Hello {{user.userName}}!</p>

      </div>
    </div>

    <div ng-controller="colorCtrl as cctrl" class="row">
      <div style="background-color: {{cctrl.selectedColor}};" class="columns large-6">
        <h2>Colors</h2>
        <a ng-click="cctrl.retrieveColors()" href="" class="button small secondary">Retrieve colors</a>
        <ul class="inline-list">
          <li ng-cloak ng-repeat="color in cctrl.colors" ng-click="cctrl.selectColor(color)" style="background-color:{{color}};" class="secondary round label"><a href="">{{color}}</a></li>
        </ul>
      </div>
      <div class="columns large-6">
        <h2>Animals</h2>
        <a ng-click="cctrl.retrieveAnimals()" href="" class="button small secondary">Retrieve animals</a>

        <div ng-cloak ng-show="cctrl.animals.length > 0" class="row">
          <div class="large-7 columns">
            <input type="text" ng-model="cctrl.animalSortOrder" name="" value="" placeholder="Animal name or confidence"/>
          </div>
          <div class="large-5 columns">
            <label for="animal-search-confidence-checkbox">
              <input ng-model="cctrl.includeConfidenceInAnimalSearch" type="checkbox" id="animal-search-confidence-checkbox" >
              <span class="">Search confidence</span>
            </label>
          </div>
        </div>

        <ul>
          <li ng-cloak ng-repeat="animal in cctrl.animals | animalSearch:cctrl.animalSortOrder:cctrl.includeConfidenceInAnimalSearch">{{animal.name}}: {{animal.confidence | confidence}}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="columns large-12">
        <h2>Routing</h2>
        <ul class="button-group radius">
          <li><a class="button small secondary" href="#/settings">Settings</a></li>
          <li><a class="button small secondary" href="#/info/1">Info #1</a></li>
          <li><a class="button small secondary" href="#/info/2">Info #2</a></li>
          <li><a class="button small secondary" href="#/info/3">Info #3</a></li>
        </ul>
        <div ng-view class="view-frame"></div>
      </div>
    </div>

    <div ng-controller="diverseCtrl as dictrl" class="row">
      <h2>Resources</h2>
      <div class="columns large-6">
        <h3>Editable</h3>
        <table>
          <tr>
            <th>ID</th>
            <th>Married</th>
            <th>Name</th>
            <th>Sons</th>
            <th>Daughters</th>
          </tr>
          <tr ng-repeat="diverse in dictrl.diverse">
            <td>{{diverse.id}}</td>
            <td>{{diverse.married}}</td>
            <td><div class="clickable" ng-show="!dictrl.enabledEditors[diverse.id]" ng-click="dictrl.enableInlineEditor(diverse.name, diverse.id)">{{diverse.name}}</div>
              <div class="animated-item" ng-show="dictrl.enabledEditors[diverse.id]">
                <input ng-model="dictrl.editableTexts[diverse.id]" type="text" />
                <a class="tiny button" href="#" ng-click="dictrl.save(diverse.id)">Save</a>
                or
                <a class="tiny secondary button"  href="#" ng-click="dictrl.disableInlineEditor(diverse.id)">Cancel</a>
            </div></td>
            <td>{{diverse.sons.length}}</td>
            <td>{{diverse.daughters.length}}</td>
          </tr>
        </table>
      </div>
      <div class="columns large-6">
        <h3>Model</h3>
        <div class="model-pre-container">
          <pre class="model-pre">{{dictrl.currentModel | json}}</pre>
        </div>
      </div>
    </div>

    <div ng-controller="customerCtrl as cusctrl" class="row">
      <h2>Form validation</h2>
      <form data-abide ng-submit="cusctrl.submitCustomerData()">
        <div class="columns large-6">

          <h3>Form</h3>

          <div class="row">

            <div class="columns large-6">
              <label for="customer-first-name">First Name</label>
              <input id="customer-first-name" type="text" ng-model="cusctrl.customer.firstName" pattern="[a-zA-Z0-9]+" required/>
            </div>

            <div class="columns large-6">
              <label for="customer-last-name">Last Name</label>
              <input id="customer-last-name" type="text" ng-model="cusctrl.customer.lastName" pattern="[a-zA-Z0-9]+" required/>
            </div>

          </div>

          <div class="row">

            <div class="columns large-4">
              <label for="customer-company">Company</label>
              <input id="customer-company" type="text" ng-model="cusctrl.customer.company" pattern="[a-zA-Z0-9]+" required/>
            </div>

            <div class="columns large-4">
              <label for="customer-country">Country</label>
              <input id="customer-country" type="text" ng-model="cusctrl.customer.country" pattern="[a-zA-Z0-9]+" required/>
            </div>

            <div class="columns large-4">
              <label for="customer-phone">Phone</label>
              <input id="customer-phone" type="text" ng-model="cusctrl.customer.phone" pattern="[0-9]+" required/>
            </div>

          </div>

          <div class="row">

            <div class="columns large-4">
              <label for="customer-price-cathegory">Price Cathegory</label>
              <select id="customer-price-cathegory" ng-model="cusctrl.customer.priceCathegory" required>
                <option ng-repeat="priceCathegory in cusctrl.priceCathegories">{{priceCathegory}}</option>
              </select>
            </div>

            <div class="columns large-6">

              <div class="row">
                <label for="customer-get-weekly-updates">
                  <input type="checkbox" ng-model="cusctrl.customer.getWeeklyUpdates" id="customer-get-weekly-updates"/>
                  <span>Get weekly updates</span>
                </label>
              </div>

              <div class="row">
                <label for="customer-send-analytics-data">
                  <input type="checkbox" ng-model="cusctrl.customer.sendAnalyticsData" id="customer-send-analytics-data"/>
                  <span>Send analytics data</span>
                </label>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="columns large-12">
              <label for="employees-number-list">Number of employees</label>
              <ul id="employees-number-list" class="inline-list">
                <li ng-repeat="employeeNumber in cusctrl.employeeNumbers">
                  <label class="inline" for="customer-employeeNumbers-{{employeeNumber}}">
                    <input type="radio" id="customer-emloyeeNumbers-{{employeeNumber}}" ng-model="cusctrl.customer.employeeNumber" value="{{employeeNumber}}"/>
                    <span>{{employeeNumber}}</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="columns large-12">
              <label for="customer-comment">Comment</label>
              <textarea ng-model="cusctrl.customer.comment" id="customer-comment" rows="50" cols="8"  pattern="[0-9]+" required></textarea>
            </div>
          </div>

          <input type="submit" class="button small secondary" name="" value="OK" />
      </form>

      </div>

      <div class="columns large-6">
        <h3>Model</h3>
        <div class=" model-pre-container">
          <pre class="model-pre">
            {{cusctrl.customer | json}}
          </pre>
        </div>
      </div>

    </div>

    <script type="text/javascript" src="res/js/controllers.js"></script>
    <script type="text/javascript" src="res/js/infos.js"></script>
    <script type="text/javascript" src="res/js/diverseService.js"></script>
    <script type="text/javascript" src="res/js/filters.js"></script>
    <script type="text/javascript" src="res/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="res/js/foundation.min.js"></script>
    <script type="text/javascript" src="res/js/foundation.abide.js"></script>
    <script type="text/javascript" src="res/js/foundation.tooltip.js"></script>
  </body>
</html>
